################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/mandelbench_msvc2022/x64
/mandelbench_msvc2022/frames
/mandelbench_msvc2022/.vs/mandelbench_msvc2022
